/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    height:100%;
    margin:auto;
    padding: 0;
    border: 0;
    color: white;
}
